[2021-05-25 11:45] robingenz opened #3 "feat(ios): add Sign in with Apple"
https://firebase.google.com/docs/auth/ios/apple

[2021-05-25 11:46] robingenz opened #4 "feat(ios): add Sign in with Microsoft"
https://firebase.google.com/docs/auth/ios/microsoft-oauth

[2021-05-25 11:46] robingenz opened #5 "feat(android): add Sign in with Microsoft"
https://firebase.google.com/docs/auth/android/microsoft-oauth

[2021-05-25 19:30] robingenz opened #7 "feat: add Capacitor 3 support"
Add support for Capacitor 3.

[2021-05-26 08:08] #3 closed, assigned to robingenz

[2021-05-27 06:09] #5 closed, assigned to robingenz

[2021-05-27 11:02] #4 closed, assigned to robingenz

[2021-06-07 16:45] #7 closed, assigned to robingenz

[2021-06-08 17:40] robingenz opened #17 "feat: add method `signInWithApple`"
**Is your feature request related to a problem? Please describe:**

Apple Sign-In is currently not supported on Android.

**Describe the solution you'd like:**

Support Apple Sign-In on Android.

[2021-06-08 17:48] robingenz opened #18 "feat: add method `getCurrentUser`"
**Is your feature request related to a problem? Please describe:**

It's not possible to get the currently signed-in user.

**Describe the solution you'd like:**

Add a new method `getCurrentUser` that returns the currently signed-in user.

[2021-06-09 20:54] robingenz opened #20 "feat: add web support"
**Is your feature request related to a problem? Please describe:**

Web platform is currently not supported.

**Describe the solution you'd like:**

Add support for the web platform.

[2021-06-10 16:56] robingenz opened #21 "feat: add method `getIdToken`"
**Is your feature request related to a problem? Please describe:**

Currently the Firebase Auth ID token is only received after login. There is no possibility to request it again.

**Describe the solution you'd like:**

Add a new method `getIdToken` that returns the Firebase Auth ID Token.

[2021-06-26 22:33] #18 closed, assigned to nobody

[2021-06-26 22:33] #21 closed, assigned to nobody

[2021-06-26 22:57] #17 closed, assigned to nobody

[2021-06-27 09:55] robingenz opened #24 "feat: add Sign-In with Twitter"
**Is your feature request related to a problem? Please describe:**

Twitter Sign-In is currently not supported.

**Describe the solution you'd like:**

Support Sign-In with Twitter.

[2021-06-27 09:56] robingenz opened #25 "feat: add Sign-In with GitHub"
**Is your feature request related to a problem? Please describe:**

GitHub Sign-In is currently not supported.

**Describe the solution you'd like:**

Support Sign-In with GitHub.

[2021-06-27 09:57] robingenz opened #26 "feat: add Sign-In with Yahoo"
**Is your feature request related to a problem? Please describe:**

Yahoo Sign-In is currently not supported.

**Describe the solution you'd like:**

Support Sign-In with Yahoo.

[2021-06-28 20:10] #24 closed, assigned to nobody

[2021-06-28 20:10] #25 closed, assigned to nobody

[2021-06-28 20:10] #26 closed, assigned to nobody

[2021-06-28 20:17] robingenz opened #29 "feat: support custom provider parameters"
**Is your feature request related to a problem? Please describe.**
Firebase Authentication allows to specify custom provider parameters.

Example:
[code]

This is currently not possible with this plugin.

**Describe the solution you'd like**
Add support for custom provider parameters.

[2021-06-28 20:17] robingenz opened #30 "feat: add Sign-In with Facebook"
**Is your feature request related to a problem? Please describe:**

Facebook Sign-In is currently not supported.

**Describe the solution you'd like:**

Support Sign-In with Facebook.

[2021-06-29 16:55] robingenz opened #31 "feat: support `onAuthStateChanged`"
**Is your feature request related to a problem? Please describe:**

Currently there is no option to be notified about a SignIn or SignOut.

**Describe the solution you'd like:**

Support [`onAuthStateChanged`](https://firebase.google.com/docs/reference/js/firebase.auth.Auth#onauthstatechanged).

`addListener('authStateChange', ...)`

[2021-06-29 17:00] robingenz opened #33 "feat: add method `setLanguageCode`"
**Is your feature request related to a problem? Please describe:**

Currently there is no option to set the user-facing language code.

**Describe the solution you'd like:**

Add method [`setLanguageCode`](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseAuth#public-void-setlanguagecode-string-languagecode).

[2021-06-29 17:01] robingenz opened #34 "feat: add method `useAppLanguage`"
**Is your feature request related to a problem? Please describe:**

Currently there is no option to set the user-facing language code to be the default app language.

**Describe the solution you'd like:**

Add method [`useAppLanguage`](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/FirebaseAuth#public-void-useapplanguage).

[2021-07-04 15:00] #33 closed

[2021-07-04 15:00] #34 closed

[2021-07-14 11:44] robingenz opened #39 "bug: cannot call value of non-function type 'GIDSignIn'"
**Current behavior:**

The following occurs in Azure pipelines during `xcodebuild`:

[code]

**Expected behavior:**

There should be no build errors.

**Steps to reproduce:**

Install this plugin and build the app in a fresh environment (e.g. CI env so that no caches are used).

**Other information:**

[code]

**Capacitor doctor:**

[code]

[2021-07-14 12:33] #39 closed

[2021-07-20 08:27] mesqueeb commented on #31
@robingenz isn't this possible just with the Firebase JS SDK? Or does this plugin not authenticate the web layer?

[2021-07-20 08:29] mesqueeb opened #41 "Question: does this plugin sign in to both native and web layers of Firebase?"
Question: does this plugin sign in to both native and web layers of Firebase?

I'm actually only interested in the web layer. I think if the user also gets authenticated natively in the Firebase Swift layer, it might get extra confusing for me.

[2021-07-20 08:31] mesqueeb opened #42 "Question: Support for Capacitor v2.x?"
Does this library support Capacitor v2.x?

[2021-07-20 08:46] mesqueeb commented on #42
I'd recommend adding a short overview in the readme on which Capacitor versions are supported, and which Firebase JS SDK versions are supported.

For Firebase, I'm at v8, but I still see a lot of v7, v8 and some already use the yet unreleased v9.

[2021-07-20 17:17] robingenz commented on #41
Hi, thank you for your question.
This plugin only signs the user in to the native layer.
Currently, it also supports only Android and iOS (see #20 for web support).
The initial idea was that the Firebase JS SDK is not needed on Android and iOS.
However, it **should be possible** to use the Firebase JS SDK if you want to.
Therefore the sign in on the web layer should be possible without any problem

[2021-07-20 17:17] #41 closed

[2021-07-20 17:18] robingenz commented on #31
@mesqueeb see https://github.com/robingenz/capacitor-firebase-authentication/issues/41#issuecomment-883559964

[2021-07-20 17:32] robingenz commented on #42
Hi, thank you for this question.
This library supports only Capacitor 3.
This plugin is intended to be used on Android and iOS without the Firebase JS SDK.
However, as I wrote in https://github.com/robingenz/capacitor-firebase-authentication/issues/41#issuecomment-883559964, you should be able to use the Firebase JS SDK without any problems.
I will always try to keep the plugin compatible to the l

[2021-07-20 17:32] #42 closed

[2021-07-21 04:49] mesqueeb commented on #41
@robingenz what's the value or use case for having users authenticated in the native layers?

Since capacitor apps are apps we write with JS frameworks (vue, angular, react), I believe most DEVs will use the Firebase JS SDK for most things, like connection to Firestore etc.

I wonder, are there many native plugins that would require authenticated Firebase users on the native layer? That is the onl

[2021-07-21 09:15] vojto commented on #41
@robingenz Any pointers on how to do this with Apple auth?

Trying this:

[code]

But doesn't seem to be working.

[2021-07-21 11:00] robingenz opened #44 "feat: return `AuthCredential` on sign in"
**Is your feature request related to a problem? Please describe:**

Currently it is not possible to query the accessToken of an OAuth provider after sign in.

**Describe the solution you'd like:**

Return [`AuthCredential`](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/AuthCredential)/[`OAuthCredential`](https://firebase.google.com/docs/reference/android/com/google/fi

[2021-07-21 11:10] robingenz commented on #41
Hi @vojto, good catch!
For `apple.com`, the `rawNonce` (see [here](https://firebase.google.com/docs/reference/js/firebase.auth.OAuthCredentialOptions#rawnonce)) must also be passed.
Unfortunately, the `rawNonce` is not yet returned with in the current plugin version, so this is not currently possible.
Instead of the `idToken` and the `rawNonce` it seems that the [`accessToken`](https://firebase.go

[2021-07-21 18:14] robingenz commented on #41
@mesqueeb The main reason is: No unnecessary dependencies.
For example, I'm working on a project where a lot of emphasis is put on having as few dependencies as possible, because every new dependency and every dependency update is audited.
In this project, only Android and iOS are supported.
The plugin fully meets the current requirements and we are very satisfied.
For example, we don't have to wo

[2021-07-22 08:11] vojto commented on #41
@robingenz I'm not sure about `accessToken`. At this point it's nil:

<img src="https://user-images.githubusercontent.com/50943/126607517-431b7780-691b-4b00-a1c0-f0e59c54d134.png" width="500" />

So it seems to me we're relying on `idToken`/`rawNonce` combo.

---

Another problem: If you log in once using `idToken`/`rawNonce`, you can't use it again. I was curious how the older library does it, an

[2021-07-22 08:45] mesqueeb commented on #41
@vojto @robingenz I would love a built in option in this plugin where the dev can **choose to authenticate the web layer and not the native layer**.

In my use case, _which I think is the more common use case_, we have a capacitor app that uses Firebase JS SDK to connect to our database: Firestore. However, since the Firebase JS SDK's authentication doesn't work properly in Capacitor, we have to u

[2021-07-22 12:30] vojto commented on #41
I updated https://github.com/robingenz/capacitor-firebase-authentication/pull/47 and added some more info about it. It now works for both Google & Apple login with some examples.

@robingenz Main question for you: Do you wanna allow a flag that will let us decide between native and web layer? Or would you rather find a way to support both at the same time?

[2021-07-22 15:53] robingenz commented on #41
@mesqueeb @vojto Thanks for your suggestions and the ideas.
It's a bit stressful today, unfortunately, so I won't get around to looking at everything until tomorrow.
I plan to work a bit on the plugin this weekend.

[2021-07-22 15:54] vojto commented on #41
No rush, thanks for your work!

[2021-07-25 12:54] robingenz opened #48 "feat: implement `skipNativeAuth` config option"
**Is your feature request related to a problem? Please describe:**

It is currently not possible to use the Firebase JS SDK to sign in to Apple. (see https://github.com/robingenz/capacitor-firebase-authentication/issues/41#issuecomment-884029738).
One the one hand, for `apple.com`, the `rawNonce` (see [here](https://firebase.google.com/docs/reference/js/firebase.auth.OAuthCredentialOptions#rawnonc

[2021-07-25 12:57] robingenz opened #49 "docs: how to use this plugin with the Firebase JS SDK"
How to use this plugin with the Firebase JS SDK?
Add code examples.

[2021-07-25 13:23] robingenz opened #50 "feat(ios): return `nonce` on sign in"
**Is your feature request related to a problem? Please describe:**

Currently, signing in to Apple using the Firebase JS SDK is not possible, among other reasons (see #48), because the `nonce` is not returned.

**Describe the solution you'd like:**

Return the `nonce` on sign in.

`OAuthCredential` (see #44):
[code]

**Describe alternatives you've considered:**

No alternative options.

**Addition

[2021-07-25 14:38] robingenz commented on #41
Okay, so I took a look and tried a few things and I think adding an option to skip the native layer is currently the best possible approach to enable the use of the Firebase JS SDK for Apple sign-in (as @vojto has shown in #47).
I have created several issues for that, which I want to get done until the next release:
- #48
- #44
- #50
- #49

[2021-07-25 17:37] #44 closed

[2021-07-29 09:44] robingenz opened #53 "feat(android): return `nonce` on sign in"
**Is your feature request related to a problem? Please describe:**

Currently, signing in to Apple using the Firebase JS SDK is not possible on Android, among other reasons (see #48), because the `nonce` is not returned.

**Describe the solution you'd like:**

Return the `nonce` on sign in.

`OAuthCredential` (see #44):
[code]

**Describe alternatives you've considered:**

No alternative options.

[2021-07-29 09:52] robingenz commented on #53
I could not find a way to get the `nonce` value on Android.
It would be possible to manually handle the sign-in flow (see [here](https://firebase.google.com/docs/auth/android/apple#advanced_handle_the_sign-in_flow_manually)) so that you can generate the `nonce` value yourself, but that would increase the setup effort significantly.

[2021-07-29 09:59] robingenz commented on #41
I ran into a problem returning the `nonce` value on Android. For this reason I will implement this for iOS only for now.
This is the feature request for Android: #53
I appreciate any tips and suggestions for solutions.

[2021-07-29 10:22] #50 closed

[2021-07-29 22:41] mesqueeb commented on #41
@robingenz i also never got Apple auth to work on Android, tried with several plugins. In our app that forced us to have Apple auth disabled on Android. Not ideal but ok for now. : )

[2021-07-30 11:43] #48 closed

[2021-07-30 12:34] robingenz commented on #49
Closed with https://github.com/robingenz/capacitor-firebase-authentication/commit/794eb554da0d16fb06371554bd9d0078fb72136a

[2021-07-30 12:34] #49 closed

[2021-07-30 12:41] robingenz commented on #41
The changes have been published:

[code]

Please let me know if there are any problems.

[2021-08-11 06:52] mishrasatyam opened #57 "feat: Phone verification"
Thank you for creating this package!!

**Is your feature request related to a problem? Please describe:**
I hope you would  add firebase's phone verification added.

[2021-08-11 16:28] robingenz commented on #57
Thank you for your feature request!
This is definitely a must-have.

[2021-08-12 18:47] #29 closed, assigned to nobody

[2021-08-22 11:37] #30 closed

[2021-08-23 13:12] #57 closed

[2021-08-23 13:14] robingenz commented on #57
This plugin now supports authentication using a Phone Number.
You can give it a try:
[code]

[2021-08-24 08:01] mishrasatyam opened #64 "The SDK has not been initialized, make sure to call FacebookSdk.sdkInitialize() first."
**Current behavior:**
I just installed @robingenz/capacitor-firebase-authentication@0.3.6 . I did not use it in the code and after sync with capacitor I get  "The SDK has not been initialized, make sure to call FacebookSdk.sdkInitialize() first. "

**Expected behavior:**
Above behaviour should not happen . This is happening when I haven't even imported anything from the package yet.

**Capacitor d

[2021-08-24 10:47] robingenz commented on #64
Hi @mishrasatyam,
I tried to reproduce the problem, but unfortunately I did not get it.
I do not receive any error message after sync.
Can you please provide me a Minimal, Reproducible Example (see [here](https://stackoverflow.com/help/minimal-reproducible-example)) and the exact steps?

[2021-08-25 19:05] merganon opened #65 "Could not resolve dependency"
Is there a way to use this package without upgrading Capacitor to 3.2.0 or is it mandatory?

[code]

**Capacitor doctor:**

[code]

[2021-08-25 19:23] #65 closed, assigned to nobody

[2021-08-26 04:52] merganon opened #66 "bug: Undefined is not a constructor | OAuthProvider("apple.com")"
I followed [this documentation](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase-js-sdk.md) here on how to sign into the web layer with this plugin.

I copied the exact `const signInWithApple = async () => {` function into my project,
however `const provider = new firebase.auth.OAuthProvider('apple.com');` is throwing this error:

`Exception with thrown value:

[2021-08-26 15:51] #66 closed, assigned to robingenz

[2021-08-26 21:30] merganon opened #68 "AuthProvider still throws "undefined is not an object""
Hey Robin , this is regarding the issue I posted [yesterday](https://github.com/robingenz/capacitor-firebase-authentication/issues/66). (thx for your work btw)

I updated the package to 0.3.7, deleted the node_modules, ran `npm install` and then copied the [new function for Google sign-in from the documentation](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase

[2021-08-27 19:42] #68 closed, assigned to robingenz

[2021-08-28 14:57] robingenz opened #72 "bug: `signInWithPhoneNumber` is not implemented on ios"

[2021-08-28 14:58] #31 closed

[2021-08-28 14:59] #72 closed

[2021-08-28 19:07] #20 closed

[2021-08-31 22:10] ThcDelux3 opened #75 "bug: FirebaseAuth not found after installing other Capacitor Plugin"
**Plugin version:**

Latest

**Platform(s):**

Android

**Current behavior:**

Login not working after adding this plugin https://github.com/capacitor-community/camera-preview

**Expected behavior:**

Login should work as it did before installing https://github.com/capacitor-community/camera-preview

**Steps to reproduce:**

Setup new project
install capacitor-firebase-authentication
add android i

[2021-09-01 01:38] merganon commented on #75
capacitor-community/camera-preview is not supported for Capacitor 3
See https://github.com/capacitor-community/camera-preview/pull/146

[2021-09-01 01:43] merganon commented on #75
If you see any plugin that tells you to import the plugin like that, it's not supported for Capacitor 3
Starting with Capacitor 3 it will automatically import the plugin and you don't need to touch the MainActivity.java file

[2021-09-01 09:05] ThcDelux3 commented on #75
Ahhh Ok thanks :) Didn't know about that.

[2021-09-01 09:05] #75 closed

[2021-09-01 20:06] robingenz opened #77 "feat(web): implement `signInWithPhoneNumber`"
**Is your feature request related to a problem? Please describe:**

`signInWithPhoneNumber` is currently not supported on the web.

**Describe the solution you'd like:**

Add support for `signInWithPhoneNumber`.

[2021-09-02 14:00] Mikkoun opened #78 "bug: Callbacks are not triggered"
**Plugin version:**
@robingenz/capacitor-firebase-authentication@0.3.9
firebase@9.0.0

**Platform(s):**
Android
iOS

**Current behavior:**
When successfully signing in with `FirebaseAuthentication.signInWithGoogle()` the promise resolves but none of the event listeners fire. I tested firebase `onAuthStateChanged` and `onIdTokenChanged` callbacks and also `FirebaseAuthentication.addListener("authSt

[2021-09-02 20:11] robingenz opened #79 "docs: update `Examples` section (`firebase@9.0.0`)"
https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase-js-sdk.md

`Examples` section should use the latest Firebase JS SDK version.

[2021-09-02 20:24] robingenz commented on #78
Thank you for your request!

If you are using `skipNativeAuth` to sign up the user via the Firebase JS SDK, then `addListener('authStateChange', ...).addListener('authStateChange', ...)` will not work on Android and iOS because it uses the native listener implementation. In that case, you need to use the Firebase JS SDK ([onauthstatechanged](https://firebase.google.com/docs/reference/js/v8/firebas

[2021-09-03 17:48] erikwalle opened #80 "feat: Google Play Services support"
Not sure how Google Play Services rates in popularity to the other methods of authentication this plugin could integrate, but I can confidently say that supporting it would reopen the door to developing Android games in Javascript. Direct plugins to GPS have fallen by the wayside in recent years:

https://github.com/artberri/cordova-plugin-play-games-services
https://github.com/openforge/capacitor

[2021-09-04 10:17] robingenz commented on #78
I have updated the [`firebase-js-sdk.md`](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase-js-sdk.md) (see #82).

[2021-09-04 15:52] pradeepmdk commented on #64
@mishrasatyam add below in MainActivity.java
public class MainActivity extends BridgeActivity {
  @Override
  public void onCreate(Bundle savedInstanceState) {
    super.onCreate(savedInstanceState);
    FacebookSdk.sdkInitialize(getApplicationContext());
  }
}

[2021-09-04 22:30] robingenz commented on #64
This should not be necessary.
If you provide a minimal, reproducible example, I will try to fix the problem.

[2021-09-05 08:13] mishrasatyam commented on #64
Hey , I have created a [repo](https://github.com/mishrasatyam/capacitor_auth_test) . Please check . Thanks.

[2021-09-05 12:55] robingenz commented on #64
@mishrasatyam Please follow the installation instructions correctly (see [here](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/setup-facebook.md)):
1. `android/app/src/main/res/values/strings.xml` does not contain the required configuration values
2. `android/app/src/main/AndroidManifest.xml` does not contain the required configuration values

Also see [Before you be

[2021-09-05 15:29] robingenz commented on #64
Oh sorry, you didn't mean to use Facebook did you? You just installed the plugin. So the setup is correct.
I tried to reproduce the issue with your repo but get the following error messages:
[code]
It seems that the project is not yet configured correctly.

I have created my own test project:
[code]
I get the following output after running `npx cap sync`:
[code]
So everything is fine. I still can'

[2021-09-05 15:32] mishrasatyam commented on #64
Hey, just do npm install and npm run android in the repo i linked. It will build and open android studio. You can see error when you try to run on a Device

[2021-09-07 20:30] robingenz commented on #64
I was able to reproduce it and will take a closer look the next few days. Thank you!

[2021-09-08 09:00] robingenz commented on #64
As a temporary workaround, the Facebook provider should be disabled (if it is not needed) via the [`providers` configuration option](https://github.com/robingenz/capacitor-firebase-authentication#configuration).
I will publish a fix today.

[2021-09-08 18:21] #64 closed

[2021-09-08 18:36] robingenz commented on #64
The message appears because the Facebook SDK does not find the required configurations.
The SDK is required for this plugin to provide Facebook sign-in functionality.
The message now no longer causes the app to crash.
The fix will be included in version `4.0.0`.

[2021-09-08 19:01] robingenz commented on #79
Closed with #82

[2021-09-08 19:01] #79 closed

[2021-09-09 06:46] Mikkoun commented on #78
I replaced `firebase/compat` to new firebase 9 syntax just like in your examples but `signInWithCredential` stays loading forever :/ No idea how to go forward with this bug but I'm pretty sure it is not your plugins fault.

[2021-09-09 15:35] robingenz commented on #78
Mhm that's weird 🤔 In that case, I need a minimal, reproducible example that I can debug to help you further.

[2021-09-15 12:24] roldyclark commented on #78
I have the same issue, signInWithCredential never returns on iOS.
code example:
[code]
Thank you for this plugin btw this is the closest I've gotten to getting this working!

[2021-09-15 16:59] robingenz commented on #78
@roldyclark Can you please share some more information?
- iOS version and Device
- npm dependencies and versions (`package.json`)
- Run `npx cap doctor` in a terminal and paste the output

[2021-09-15 17:43] roldyclark commented on #78
# iOS version and Device
iPhone 8 iOS 14.5 (Xcode simulator)

# package.json
{
  "name": "svelte-app",
  "version": "1.0.0",
  "private": true,
  "scripts": {
    "build": "rollup -c",
    "dev": "rollup -c -w",
    "start": "sirv public --no-clear",
    "check": "svelte-check --tsconfig ./tsconfig.json"
  },
  "devDependencies": {
    "@rollup/plugin-commonjs": "^17.0.0",
    "@rollup/plugin-json

[2021-09-15 17:46] robingenz commented on #78
@roldyclark  Thank you! Have you also tested it on a real iOS device? If not, could you do that?

[2021-09-15 17:47] roldyclark commented on #78
@robingenz sure thing, I'll try now - thanks!

[2021-09-15 18:18] roldyclark commented on #78
Tried on physical iPhone 8, 14.7.1. Same thing. The user is created in Firebase console, but the promise is never resolved.

[2021-09-15 18:26] robingenz commented on #78
Thank you! I will try to reproduce the problem again this weekend. I was not able to reproduce it on Android.
Please note that `signInWithCredential` is not a method of this plugin. This plugin only generates the input parameters. I will check if the input parameters are correct. If this is the case, you have to report the error in [firebase/firebase-js-sdk](https://github.com/firebase/firebase-js

[2021-09-15 18:30] roldyclark commented on #78
@robingenz Yeah seems like it's a Firebase issue. Thanks for looking into it!

[2021-09-15 20:19] #80 closed

[2021-09-16 16:24] erikwalle opened #85 "bug: Google Play Services error reporting is undescriptive"
**Plugin version:**
v0.3.11

**Platform(s):**
Android

**Current behavior:**
FirebaseAuthentication.signInWithPlayGames() generates undescriptive error messages of the form: "Error: 4: " (Where the number can be 4 or 8 from what I've seen so far). Anecdotally, "Error: 4: " seems to be thrown when login is attempted without network connectivity.
Checking logs in Android studio, there is no addition

[2021-09-17 07:42] roldyclark commented on #78
@robingenz  update: no Firebase JS SDK calls are working on iOS. await getDocs() is hanging too. Should I not be using the JS SDK? What are the alternatives?

[2021-09-17 14:55] robingenz commented on #78
@roldyclark Thanks for the update. In that case I assume that the problem has nothing to do with this plugin and I close the issue.

If you don't really need the Firebase JS SDK on Android and iOS and the methods of this plugin offer you the functionality you need, then I wouldn't use it either.

If you do want to use the Firebase JS SDK, I recommend you try the [compat libraries](https://firebase

[2021-09-17 14:55] #78 closed

[2021-09-19 08:45] robingenz opened #86 "feat: improve error handling"
**Is your feature request related to a problem? Please describe:**

Error messages are currently poorly described and have no unique, uniform error codes.
This complicates cross-platform error handling.

**Describe the solution you'd like:**

The error messages should contain a helpful message and a unique code.

**Describe alternatives you've considered:**

No alternative solutions.

**Additional

[2021-09-19 08:59] robingenz commented on #85
Hi @erikwalle,
thank you for reporting this.
I found the following descriptions in the [Google Play services documentation](https://developers.google.com/android/reference/com/google/android/gms/common/api/CommonStatusCodes.html):
- **4**:

  This description fits with your assertion that this always occurs when there is no internet connection, as the user cannot sign in without a connection.

- *

[2021-09-19 08:59] #85 closed

[2021-09-19 23:23] erikwalle commented on #85
@robingenz Any ETA for v1.0? Honesty appreciated, thanks.

[2021-09-20 13:10] robingenz commented on #85
My honest answer: I cannot say this at the moment, because there are still a lot of features planned.
I will prioritize issue #86.

[2021-09-21 14:40] roldyclark commented on #78
FIXED! Here's the solution: https://harryherskowitz.com/2021/08/23/firebase-capacitor.html

[2021-09-21 17:23] robingenz commented on #85
I guess about 3 months. 🤔

Apart from issue #86, are you waiting for anything specific?
I may be able to adjust the priorities.

[2021-09-21 18:11] erikwalle commented on #85
I want to gauge how production-ready this plugin is. There's not a lot at stake since I am still in beta, and I'm 90% sure I want to go with Firebase login instead of raw Play Services. So I will probably proceed with the rollout anyway.

My worst case scenario is if this plugin has a fatal flaw (since I don't see many alternatives). I can't think of any other features I need in terms of auth at t

[2021-09-21 18:27] robingenz commented on #85
Okay I understand. Yes, issue #86 is definitely very important. I'll do my best to implement it soon.
Other than that, all I can say is that I don't know of any bugs at this time. These have the highest priority for me (also since I use the plugin myself productively).

[2021-09-27 23:09] roldyclark opened #87 "bug: Missing Nonce - Sign In with Apple on iOS with Javascript SDK"
It seems that the nonce returned by `FirebaseAuthentication.signInWithApple()` is invalid, or `provider.credential` is not building the credential correctly.

Code:
[code]
Error:
`Unhandled Promise Rejection: FirebaseError: Firebase: Nonce is missing in the request. (auth/missing-or-invalid-nonce).`

[2021-09-27 23:11] roldyclark commented on #87
Put in this issue with Firebase as well: https://github.com/firebase/firebase-js-sdk/issues/5553#issuecomment-928193787

[2021-09-30 14:47] robingenz commented on #87
Thank you for your request. Are the two properties `result.credential?.idToken` and `result.credential?.nonce` defined or undefined?

[2021-09-30 15:10] mdepasquale21 commented on #87
having the exact same error, but `idToken` and `nonce` are defined (at least in my case)

[2021-09-30 15:17] roldyclark commented on #87
@robingenz both are defined :/ I think it's an issue with the provider.credential method

[2021-09-30 16:56] roldyclark commented on #87
code:
[code]
result:
`credenital:{"idToken":"XXXX","pendingToken":null,"providerId":"apple.com","signInMethod":"apple.com"}`

as you can see, it build a credential without the nonce

[2021-09-30 17:01] roldyclark commented on #87
and credential.rawNonce warns: Property 'rawNonce' does not exist on type 'OAuthCredential'.

[2021-09-30 18:39] roldyclark commented on #87
@mdepasquale21 @robingenz Found a workaround for now:
[code]

[2021-09-30 21:04] robingenz commented on #87
Great! Thanks for your investigation @roldyclark.
In this case, `nonce` appears to be neither missing nor invalid.
For this reason, I am closing this issue.

[2021-09-30 21:04] #87 closed

[2021-10-03 12:21] mesqueeb opened #88 "feat: Firebase 8.1 compatible version"
**Is your feature request related to a problem? Please describe:**

Is there a Firebase 8.1 compatible version you can provide? Or is it too much work?

**Describe alternatives you've considered:**

[2021-10-04 06:49] robingenz commented on #88
Hi @mesqueeb,
unfortunately I can only support one Firebase version in my main branch. I would need to create a second branch with a new web implementation. However, keeping these two branches in sync would be too much effort in the long run.
For this reason, I am closing this Issue.

Have you already tried to update to [Firebase v9 compat](https://firebase.google.com/docs/web/modular-upgrade#upda

[2021-10-04 06:49] #88 closed

[2021-10-04 07:46] mesqueeb commented on #88
@robingenz I was able to upgrade the other dependencies to use v9 compat for now! Now I will continue to upgrade the main app to v9 compat and see how it goes.

Thank you very much for your continued support.

BTW, does your library already use modular Firebase v9 code? Or does it also still rely on the compat build?

Best regards

[2021-10-04 08:46] mesqueeb opened #89 "suggestion: convert single class to standalone functions"
Hey @robingenz
I was reading your source code and I see that you're using a single class with methods for the web code:

https://github.com/robingenz/capacitor-firebase-authentication/blob/ae3ed78502935238b6f8c27b3b02b6c8cc8446bd/src/web.ts#L27

However, the issue with a big class with methods is that when we don't use some of the providers on there, all those functions are still bundled with our

[2021-10-04 09:01] mesqueeb opened #90 "question: Do we need to add Firebase to Podfile?"
I noticed I have this in my Podfile. Maybe I added it based on another library before.

Do you think I can just delete those firebase and google libraries from here?

<img width="593" alt="image" src="https://user-images.githubusercontent.com/3253920/135823359-4eddacfa-01c3-425e-8cec-fa653b9e62d6.png">

[2021-10-04 10:30] robingenz commented on #88
Great!
This plugin already uses the Firebase v9 modular style.

[2021-10-04 10:53] robingenz commented on #89
Hi @mesqueeb,
this should not be a problem in the web implementation.
Unlike the native implementation, which sometimes requires third-party SDKs, the web implementation uses only the popup-based OAuth authentication flow.
The only differences are the different OAuthProvider classes. However, these are very small and negligible.

Unfortunately I don't know if class methods are tree shakeable.

Unf

[2021-10-04 10:53] #89 closed

[2021-10-06 07:09] mesqueeb opened #91 "question: How can we use FirebaseAuthentication without passing firebaseApp or auth instances?"
What I don't understand about this library is this part:
[code]

This makes it possible to use all the auth functions, but we never need to pass our initialised `firebaseApp` or `auth` objects?

[2021-10-06 12:37] mesqueeb opened #92 "bug: Auth instance doesn't get authenticated"
On Capacitor 3.0, using Firebase v9 with modular syntax I have the issue that my auth instance doesn't get authenticated.

This is the way I'm instantiating my `firebaseApp` and `auth`:

[code]

I need to use `initializeAuth` on capacitor iOS/android, because otherwise the app doesn't launch properly. (see [the reason for that here](https://github.com/firebase/firebase-js-sdk/issues/5019#issuecomm

[2021-10-06 13:23] robingenz commented on #91
Great question!
This plugin uses the [`getAuth()`](https://firebase.google.com/docs/reference/js/auth#getauth) method from the Firebase JS SDK v9. It returns the Auth instance associated with the provided FirebaseApp. See this [example](https://github.com/robingenz/capacitor-firebase-authentication/blob/ae3ed78502935238b6f8c27b3b02b6c8cc8446bd/src/web.ts#L61).
The initialization is not done by the

[2021-10-06 13:23] #91 closed

[2021-10-06 13:37] robingenz commented on #92
Thank you for your request. You already know that I am very busy at the moment. I will take a closer look at the problem as soon as possible.

Some initial points:

Make sure to initialize the Firebase JS SDK before using the plugin.

Try to use only `initializeAuth`. `initializeAuth` worked fine the last time I used it with Capacitor.

See [this answer](https://github.com/robingenz/capacitor-fire

[2021-10-06 15:33] mesqueeb opened #93 "request: Add twitter auth example (ios with skipNativeAuth)"
Based on these docs:

https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase-js-sdk.md

I tried to implement Twitter:

[code]

However, that doesn't work. The `result` looks like:

<img width="420" alt="image" src="https://user-images.githubusercontent.com/3253920/136235656-2e8b5fa2-1c61-4001-a470-e9dd3e22c4e6.png">

I don't get the `idToken` and `secret`.

It seems

[2021-10-06 15:39] mesqueeb opened #94 "bug: FirebaseError: Firebase: Nonce is missing in the request. (auth/missing-or-invalid-nonce)"
This is on iOS + Apple authentication with skipNativeAuth error

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/3253920/136236673-27b31ada-7670-44dc-a6bf-c56b8da775c7.png">

my function:

[code]

my config:
[code]

[2021-10-06 16:35] robingenz commented on #92
That is great!

Yes, I need to make this document more visible.

That's very strange! I have removed only one listener. See [this commit](https://github.com/robingenz/capacitor-firebase-authentication/commit/6bac8eb69e839e616273841df1ddc9c3c372b397).
Of course I don't want to publish this, because otherwise I would remove a feature.
The problem must be another. 🤔

Can you please try again? Maybe a

[2021-10-06 16:39] #94 closed

[2021-10-06 16:42] robingenz commented on #93
Oh, I will have to take a closer look at this. I'll try to find some time this weekend. Thank you for this report.
Does it work on Android?

[2021-10-08 04:49] mesqueeb commented on #87
@roldyclark
this release note seems sus....
<img width="710" alt="image" src="https://user-images.githubusercontent.com/3253920/136500143-00793ceb-a199-46eb-9d23-e25b1eac4b72.png">

I'll check it and report my findings : D

[2021-10-08 05:14] mesqueeb opened #96 "feat: Find a way to prevent Facebook SDK to be included into app source code"
**Is your feature request related to a problem? Please describe:**
<-- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...] -

We don't use Facebook authentication in our app. But I believe the FBSDK is still included in the built app.

**Describe the solution you'd like:**
<-- A clear and concise description of what you want to happen. -→

I'd love to find

[2021-10-08 15:19] robingenz commented on #96
Thank you for your request. This is definitely a topic I would like to tackle in the long term.
If anyone has ideas on how to best solve this, I would greatly appreciate any tips.

[2021-10-10 02:54] mesqueeb commented on #93
@robingenz let me know if there's anything I can help you with this weekend.

[2021-10-10 10:54] #93 closed

[2021-11-04 21:19] yaron1m opened #97 "bug: Error: 10"
**Plugin version:** 0.3.11

**Platform(s):** Android

**Current behavior:** When signing in with Google, after choosing the right Google account I get the following error:
[code]

**Expected behavior:** Sign in successfully.

**Steps to reproduce:**
1. Install plugin.
2. Call `FirebaseAuthentication.signInWithGoogle()`
3. Choose account

This happens both when `skipNativeAuth` is true and false, r

[2021-11-04 22:08] robingenz commented on #97
Hi @yaron1m,
thank you for your request.

I have never tested the plugin in the Android emulator. I will give this a try this weekend.

The error looks like error code 10 ([DEVELOPER_ERROR](https://developers.google.com/android/reference/com/google/android/gms/common/api/CommonStatusCodes.html#DEVELOPER_ERROR)) from Google Play Services.
Please have a look at this [comment](https://github.com/goog

[2021-11-05 18:10] robingenz commented on #97
Quick update: I tested it on an Android emulator. It worked without any problems.

[2021-11-05 20:09] braincomb opened #98 "feat: open authentication flow in in-app Capacitor browser."
**Is your feature request related to a problem? Please describe:**

There's currently an issue with the authentication flow where *in some cases* upon calling the Callback URL (default myapp.firebaseapp.com/__/auth/handler provided by Firebase) the external browser will show this error:
*"Unable to process request due to missing initial state. This may happen if browser sessionStorage is inaccessi

[2021-11-05 21:18] robingenz commented on #98
Hi @braincomb,
interesting thought. I need to do some research.
On which platform does the problem occur? Native Android, Native iOS or Web?

[2021-11-05 21:53] braincomb commented on #98
Hi @robingenz ,

This was tested on a physical Android device running your plugin with native auth. Firefox was the only browser that showed the error and did not redirect back to the app.

For iOS I was only able to test with XCode emulator, no issues there.

[2021-11-06 10:45] robingenz opened #99 "Error: `Failed to generate/retrieve public encryption key for Generic IDP flow.`"
Login on Android with an OAuth provider keeps failing. Error message:

[code]

(This issue is for documentation purposes only.)

[2021-11-06 10:46] robingenz commented on #99
Solution: Delete the local data and the cache of the app in the phone settings. It seems to be a caching problem.

[2021-11-06 10:46] #99 closed

[2021-11-06 12:21] robingenz commented on #98
Thank you for the information.
I was able to reproduce the issue with Twitter and GitHub Sign In on Android.
I have created a Firebase App Check plugin for Capacitor (see [here](https://github.com/robingenz/capacitor-firebase-app-check)), since that was a suggested solution in the thread you linked. It is still a development version. Unfortunately it did not help in my case.
It works in my Firefox

[2021-11-06 15:51] yaron1m commented on #97
The issue was indeed with the SHA1.

After updating it in Firebase issue was resolved.

Thanks!

[2021-11-06 15:51] #97 closed

[2021-11-06 17:53] braincomb commented on #98
@robingenz Thank you for looking into this.

Interestingly enough, step 3 under _Handle the sign-in flow with the Firebase SDK_ from the [Authenticate Using Twitter on Android](https://firebase.google.com/docs/auth/android/twitter-login) actually states:

Which from our testing showed it doesn't.

I have also looked at how Facebook authentication behaves since it also uses a callback URL, and noti

[2021-11-09 13:06] robingenz commented on #98
@braincomb I am very busy this week. I will have a look at it this weekend/next week.

[2021-11-12 17:36] robingenz commented on #98
What do you mean exactly? Does a Google Chrome Custom Tab appear even though you have Firefox as your default browser? Or how did you notice that?

Which changes were made exactly? Do you have references?

[2021-11-14 22:44] braincomb commented on #98
Yes, exactly, Chrome Custom Tab always opens regardless of what the default browser is.

This is from your [Facebook Setup documentation](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/setup-facebook.md): there's an activity for `CustomTabActivity` which I'm assuming is what makes it use the Custom Tab. But I'm now thinking that this configuration is controlled by ei

[2021-11-17 21:07] braincomb opened #103 "request.auth is null in security rules so Firebase API calls fail due to permissions."
**Plugin version:**

0.3.11

**Platform(s):**

Android

**Current behavior:**

On a physical Android device, any calls made to the Firebase Firestore or Storage API would fail if the Security Rules are set to only accept authenticated users.
Example of Security Rules below where write calls would only be accepted for authenticated users:

[code]

The error returned:

[code]

If we remove the `if r

[2021-11-17 22:21] robingenz commented on #103
Hi @braincomb,
thank you for this detailed message.
This plugin offers you the possibility to authenticate your users either on native layer or on web layer.
If you authenticate your users on native layer, then the Firebase JS SDK will not know about it.
You would have to use native SDKs only in this case. I'm aware that the options here are not that great yet at the moment. I'm currently working

[2021-11-23 05:42] braincomb commented on #103
Hi @robingenz,

Using the Firebase JS SDK was exactly what I was looking for, I was able to make it work with no issues so far.

Thanks again!

[2021-11-23 05:42] #103 closed

[2021-11-24 01:41] mpkasp opened #104 "bug: unable to signInWithCredential using plugin with angular fire"
**Plugin version:** ^0.3.11

**Platform(s):** iOS

**Current behavior:** At a loss as to what's going on. Google sign in is successful and giving a result with an idToken, but calling `this.afAuth.signInWithCredential` never resolves. I'm not sure if I'm passing a bad object or what. I'm using this plugin with firebase and angular fire:

[code]

**Expected behavior:** signInWithCredential resolves

[2021-11-24 10:09] robingenz commented on #104
Hi @mpkasp,
thank you for your request and for filling out the issue template.
This issue seems like a duplicate of #78. For this reason, I am closing this Issue.
This was apparently the solution: https://github.com/robingenz/capacitor-firebase-authentication/issues/78#issuecomment-924055336
Let me know if that helps you.

[2021-11-24 10:09] #104 closed

[2021-11-24 20:47] mpkasp commented on #104
Ok, dove a bit deeper & it looked like the difference of using Angular Fire may be the culprit because I tore it out and now that I'm using the js firebase SDK directly everything seems to be working now.

Hopefully this helps someone else.

[2021-11-24 21:01] robingenz commented on #104
Thank you for this update.
https://github.com/angular/angularfire/issues/2979#issuecomment-940910213 shows how this works with Angular Fire.

[2021-11-25 09:41] jofftiquez opened #105 "bug: export 'registerPlugin' was not found in '@capacitor/core"
I think this is mainly due to I am using capacitor 2, is there a way to make it work with version 2?

[2021-11-25 10:17] jofftiquez commented on #105
I already upgraded to capacitor 3, this is invalid now. Thanks.

[2021-11-25 10:17] #105 closed

[2021-11-25 10:19] jofftiquez opened #106 "Error "FirebaseAuthentication" plugin is not implemented on android"
I already added all the necessary libraries in my project gradle, and module gradle in android. But I am still getting this error. Is there something I missed?

------------------------------------------------------

**Plugin version:**

**Platform(s):**

**Current behavior:**
Everything is setup properly and there are no console error, no build errors either. But when I clicked the button that in

[2021-11-25 11:09] robingenz commented on #106
This message usually appears when the [installation instructions](https://github.com/robingenz/capacitor-firebase-authentication#installation) have not been followed correctly.
Please make sure you follow each step correctly.

If you have recently updated from Capacitor 2, make sure that the plugin is not registered in the `MainActivity.java`.

[2021-11-27 13:36] jofftiquez commented on #106
Hi, @robingenz thanks for the reply. I will double-check everything. Yes, I am currently using Capacitor 3, I will check that as well. I'll give feedback the soonest.

[2021-11-27 14:15] jofftiquez commented on #106
@robingenz after re-following the setup guide it's still not working. To give you a summary of what I have done.

Context: I updated manually from cap 2 to cap 3, seems to be no issue as I can build successfully.

# 1. Properly installed required packages

![Screenshot_20211127_215740](https://user-images.githubusercontent.com/8638243/143684476-1fa945ec-e44b-426c-9681-32eedb6061d8.png)

# 2. Add f

[2021-11-27 14:19] jofftiquez commented on #106
Hi @robingenz you can close this now, It seems I have duplicated the importation of `apply plugin: 'com.google.gms.google-services'` in the **app-level gradle.build** as you can see above, it's in the top and in the bottom.

[2021-11-27 14:27] jofftiquez commented on #106
Sorry for closing, I verified it's still not working.

[2021-11-27 14:40] jofftiquez commented on #106
I think I figured it out. I forgot to import the `@robingenz/capacitor-firebase-authentication` in `src-capacitor/package.json`. Will close this now. Thank you.

[2021-11-27 14:40] #106 closed

[2021-11-27 17:33] jofftiquez opened #107 "signInWithGoogle result has no user property, only credentials"
**Plugin version:**
`^0.3.12`

**Platform(s):**
Android - Affected
Web - Okay

**Current behavior:**
When signing in using `FirebaseAuthentication.signInWithGoogle` the process proceeds as expected no issues whatsoever, but when you inspect the data being return here you will see that there's no `.user` property in the android version.

**Web**

![Screenshot_20211128_013110](https://user-images.gi

[2021-11-27 22:50] robingenz commented on #107
Hi @jofftiquez,
thank you for the request.
Do you use the [`skipNativeAuth`](https://github.com/robingenz/capacitor-firebase-authentication#configuration) option?

[2021-11-28 06:28] jofftiquez commented on #107
As a matter of fact, I set it to `true` for some reason. I'll change it to `false` and give feedback the soonest.

[2021-11-28 06:33] jofftiquez commented on #107
That's it. It's working now. Thank you for this plugin @robingenz cheers!

[2021-11-28 06:33] #107 closed

[2021-11-29 01:33] mpkasp commented on #104
Thanks, I fought with that briefly to no avail and ended up just pulling out angular fire - wasn't too bad fortunately due to abstraction :)

[2021-11-29 01:51] mpkasp opened #109 "bug: Error: invalid credential when signInWithCredential using idToken after closing & re-opening app"
**Plugin version:** ^0.3.11

**Platform(s):** iOS

**Current behavior:**
I can successfully signInWithGoogle, get the idToken, then authenticate the js firebase sdk using the idToken calling signInWithCredential()
When I force-close the app and re-open it, the js SDK is no longer authenticated in Capacitor. This is a problem, I havent found a solution to.
To work around this I'm trying to grab the

[2021-11-29 06:32] robingenz commented on #109
Hi @mpkasp,
thank you for the request and filling out the issue template.

Have you tried using the [`setPersistence`](https://firebase.google.com/docs/reference/js/auth.md#setpersistence) method?

Example:
[code]

It should save the session and make sure you don't have to call `signInWithCredential` again.

[2021-11-30 03:34] mpkasp commented on #109
@robingenz I actually did try this & it did not work, however it made me dive a bit more into the docs and got it to work by setting persistence when initializing auth in the js sdk from #78 specifically:

[code]

The key part that I did not have was `{persistence: browserLocalPersistence}`.

Still odd that it wouldn't let me re-authenticate using the idToken, but I'm happy with this solution and

[2021-11-30 03:34] #109 closed

[2021-12-05 09:08] robingenz commented on #96
It took a day but I finally found a solution. 🎉
I will release an update today.

[2021-12-05 09:12] #96 closed

[2021-12-14 10:53] erikwalle opened #111 "bug: NPR reported by Firebase Crashlytics"
**Plugin version:**
0.3.11
^ Will update to the latest and update if no longer occurring.

**Platform(s):**
Reported on: ASUS_Z012DC

**Current behavior:**
Can't reproduce the bug so far, working from a crashlytics report.

**Other information:**

Fatal Exception: java.lang.NullPointerException
Attempt to invoke virtual method 'void com.getcapacitor.PluginCall.resolve(com.getcapacitor.JSObject)' o

[2021-12-14 13:05] robingenz commented on #111
Hi @erikwalle,
Thank you for this report. I will keep an eye on it. Of course, to fix it, I need to be able to reproduce it.

[2021-12-20 12:59] omar2205 opened #113 "Info about how to add firebase app"
**Plugin version:**
v0.4.0

**Platform(s):**
Android

**Current behavior:**
App crash on start. I'm trying to use the Firebase SDK.

I want to know how to init Firebase. How to import the already initialized `app` and use it inside `signInWithGoogle`:

[code]

[2021-12-20 16:03] robingenz commented on #113
Hi @omar2205,
thank you for your interest.
Please make sure that you have followed the [installation instructions](https://github.com/robingenz/capacitor-firebase-authentication#installation) carefully.
[Here](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/setup-google.md) you can find the further installation steps for Google Sign-In.
If you want to use the Firebase

[2021-12-20 18:44] omar2205 commented on #113
Can you check this
https://github.com/omar2205/quick-cap-auth
?

[2021-12-20 18:57] omar2205 commented on #113
nvm, I found the problem, I redid everything multiple times, except adding this
[code]

[2021-12-20 18:58] #113 closed

[2021-12-21 21:15] ThcDelux3 opened #114 "bug: Facebook returns no email adress"
Hey,

my facebook response does not contain an email. In Firebase (console) the email is registered. Any Idea why this issue occours?

I requested the advanced rights in the facebook developer center:

![image](https://user-images.githubusercontent.com/25651512/146998600-8da298d8-ffe5-4fa8-a45b-6508b96eafa3.png)

Also there is no error message. Do I have to activate something to "claim" the facebo

[2021-12-21 21:34] robingenz commented on #114
Hi @ThcDelux3,
thank you for your request.
I need some more information. Please fill in the bug template.
Also, I would like to know on which platform the problem occurs? Do you also not receive the email after the initial login?
I just tested it quickly and at least it worked for me. So I guess it should be a configuration problem.

[2021-12-21 21:38] ThcDelux3 commented on #114
**Plugin version:**

latest

**Platform(s):**

Android
not tested on iOS

**Current behavior:**

I get my reponse but there is no email in it

**Expected behavior:**

Return Email like google does

**Steps to reproduce:**

install plugin
setup firebase
add google login like in the docs
add facebook login like in the docs

**Related code:**

    async signInWithFacebook() {
      await FirebaseAuth

[2021-12-21 21:42] ThcDelux3 commented on #114
After click on the fb login button (  await FirebaseAuthentication.signInWithFacebook(); )

![image](https://user-images.githubusercontent.com/25651512/147001079-53447a2f-67b0-4a1d-a518-2661a964b5a2.png)

then i click continue

And I get these reults from facebook
![image](https://user-images.githubusercontent.com/25651512/147001248-74b53853-ce68-4d51-b0a9-546fae0be49b.png)

[2021-12-22 16:29] robingenz commented on #114
I tested it again on my end and it works so far. Your configuration looks good too.
Please have a look at the following links:
- https://stackoverflow.com/a/55267301
- https://stackoverflow.com/a/37741550

Maybe this helps.

Have you tried it with another Facebook account? Does the same problem occur there?

[2021-12-22 16:58] ThcDelux3 commented on #114
Ok the problem was to allow the user to register with multiple provides for the same email. :) 👍🏻
Thank you very much 💯

 Any idea how to handle this scenario with this plugin or is this so far not possible?

[2021-12-22 17:19] robingenz commented on #114
Great! Thank you for the update. In this case i will close this issue.

I found this in the [Firebase documentation](https://support.google.com/firebase/answer/9134820?hl=en):

So this does not seem to be possible with the Firebase SDK.

[2021-12-22 17:19] #114 closed

[2022-01-11 20:37] robingenz opened #117 "feat: Email Link Authentication"
**Is your feature request related to a problem? Please describe:**

[Firebase Email Link Authentication](https://firebase.google.com/docs/auth/web/email-link-auth) is currently not supported.

**Describe the solution you'd like:**

Support Firebase Email Link Authentication.

[2022-01-22 21:50] mburger81 commented on #106
@jofftiquez Hey, I have exactly the same issue, what do you mean in "src-capacitor/package.json"
What is this package.json? Do mean the normal package.json in the root? If yes the error you get should be a different

[2022-01-23 00:16] mburger81 opened #118 "bug: angular fire guards doesnt' work on mobile"
**Plugin version:**
@robingenz/capacitor-firebase-authentication: 0.4.0
@angular/fire: 7.2.0
@firebase@9.x.x
@capacitor/cli: 3.4.0
@capacitor/core: 3.4.0
@capacitor/android: 3.4.0
@capacitor/ios: 3.4.0

**Platform(s):**
android and probably also on ios

**Current behavior:**
If I use the android firebase guards with redirectLoggedInTo and redirectUnauthorizedTo on desktop/web anything is fine. It

[2022-01-23 05:00] jofftiquez commented on #106
No, not the package.json in the root. I meant the package.json in `src-capacitory/package.json`.

[2022-01-23 09:22] robingenz commented on #118
Hi ,
thank you for your request.
I need more information, such as what configuration you are using this plugin in, to help you out.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

[2022-01-23 11:00] mburger81 commented on #118
Hello I created a PR on your demo app, in browser this is just working fine, but this should not work on capacitor app on android. Can you test it, I can not build your demo on mobile right now but it should reproduce

When you have a loo to the code compare, I really did only few lines of code

https://github.com/robingenz/capacitor-firebase-authentication-demo/pull/73

[2022-01-23 13:29] robingenz commented on #118
My demo app uses native authentication. If you want to use Angularfire Guards, you need to use the Firebase JS SDK. This requires some modifications: see https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/firebase-js-sdk.md.
The other possibility would be that you create your own guards which call https://github.com/robingenz/capacitor-firebase-authentication#getcurrentu

[2022-01-23 13:29] #118 closed

[2022-01-23 20:57] kabouter opened #119 "bug: getCurrentUser returns undefined user"
I'm making an Android app with framework7 and I'm stuck. I think it worked a few days ago so I'm afraid om doing something wrong. So probably not a bug. :|

**Plugin version:**

@robingenz/capacitor-firebase-authentication": "^0.4.0
firebase": "^9.6.3

**Platform(s):**

Android 11
minSdkVersion = 26
compileSdkVersion = 30
targetSdkVersion = 30

**Current behavior:**

The user clicks a link, my app

[2022-01-24 08:43] robingenz commented on #119
Hi @kabouter,
thank you for your request.
From what I see in your code, it should work.

I would have to look at your code and configuration to be able to help you further.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).

Does an error appear anywhere in the Developer Console or the N

[2022-01-24 11:42] mburger81 commented on #118
@robingenz Yeah I know but the problem of the custom guards with FirebaseAuthentication.getCurrentUser() is that when I do a page reload for example on developing he current user is not available when guard is called, just a 1-2 seconds later

I'll have a look on doing it with skipNativeAuth, may I ask, which is the diff using firebase js sdk instead of using native auth, I mean from your part. Le

[2022-01-24 13:14] robingenz commented on #118
Maybe this service will help you:

[code]

I use this in my apps to deal with this behavior.

Please have a look at the [FAQ](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/README.md#faq). I just extended it to include this question.

[2022-01-24 13:48] mburger81 commented on #118
Okay but in this scenario I have to wait a lot to get resolved the guards, something which ends in my opinion in a laggy behaviour.
Now I'm using the skipNativeAuth with your example, which works fine. Perhaps you should also describe in this scenario you have also to signout from both layers doing something like this
[code]

At least I have todo it

[2022-01-24 15:51] davidecampello opened #120 "feat: Convert an anonymous account to a permanent account"
Hi! Thank for this amazing plugin! Maybe there is a way to to this but I didn't found it. If so, please help me.

**Is your feature request related to a problem? Please describe:**
In my app users can sign in anonymously (now I'm using web sdk) or using  providers (email, google, ecc) using this plugin.
When they sign in anonymously they can link an account.
I can add an email/password account usi

[2022-01-24 15:56] robingenz commented on #120
Hi @davidecampello,
thank you for your request!
Yes, you need this plugin for that. Unfortunately, this functionality does not exist yet. For this there is already a feature request, which includes these APIs: #27.
For this reason I would close this issue as a duplicate.
I plan to implement many features next month. Maybe I will manage this one as well.

Best regards!

[2022-01-24 15:56] #120 closed

[2022-01-24 16:12] davidecampello commented on #120
Hi @robingenz! Thanks for your fast answer!
I didn't see the issue. I'll wait for the release. Thanks!

[2022-01-24 21:37] kabouter commented on #119
I stripped everything and had only auth things left. I still had the problem.
I changed from firebase web to Firebase Android.
Now it is working. User is still undefied when not logged on, but that is not a real problem. When logged on the is no longer undefied.

[2022-01-24 21:37] #119 closed

[2022-01-25 09:02] prakash03yes opened #121 "Login persistent , I have to sigin everytime with the phone number and otp , but firebase uses cookies to persist tokens , make that auto sigin ."

[2022-01-25 09:13] robingenz commented on #121
Hi @prakash03yes,
thank you for your request.
Please create a new issue and fill out the issue template correctly so I get all the information I need to help you.

Best regards

[2022-01-25 09:13] #121 closed

[2022-01-26 13:23] pouriamoosavi commented on #86
Hi
I hope we can have this feature soon.
My biggest problem for now is the message "An account already exists with the same email address but different sign-in credentials. Sign in using a provider associated with this email address." I can't really find a way to distinguish between this error and all other ways "signIn failed". I think I really should tell my user what is the problem. "signIn fai

[2022-01-26 18:03] robingenz commented on #86
Hi @pouriamoosavi,
i was planning to implement this change in the next month or the month after.
Unfortunately, this is not the only place where error messages can be thrown. When I implement this feature, I really want to trade as many errors as possible.
In addition, not only Android but also iOS and Web are supported as platforms. Furthermore, the error messages should be the same across all pl

[2022-01-27 03:22] prakash03yes opened #123 "I would like to get the usage of firebase storage, how can i implement , there is no auth provided , i am talking about with the security rules ( allow read, write: if request.auth != null )"
I signed with phone auth , I get only auth token id and user details. what if i would like to access , fireebase storage  with the security enabled something like ( allow read, write: if request.auth != null ). i need Auth() of the signed user! , is there is any workaround here, i can remove security rules but i dont want to lose security. any help from your end ?

<img width="896" alt="Screenshot

[2022-01-27 06:15] #123 closed

[2022-01-27 06:15] prakash03yes commented on #123
I found a solution in your docs , after reading full doc! 👍

[2022-01-27 08:18] prakash03yes opened #124 "bug: Resend otp in phone auth ?"
how to set resend otp in phone auth ?

[2022-01-27 11:23] robingenz opened #125 "feat: resend sms verification code"
**Is your feature request related to a problem? Please describe:**

Currently it is not possible to request the SMS verification code again.

**Describe the solution you'd like:**

Add an option to resend the sms verification code.

[2022-01-27 11:23] robingenz commented on #124
Hi @prakash03yes,
this is currently not supported.
I have created a new issue as a feature request: #125
For the reason I am closing this issue.

[2022-01-27 11:23] #124 closed

[2022-01-28 17:05] ssibrahimbas opened #126 "feat:"
**Is your feature request related to an issue? Please describe:**

Yeah. In social media entries (Facebook, Google, GooglePlay, Twitter, Apple etc.), the user's id value connected to the provider does not appear. (GoogleId value does not come for login with Google.)

**Describe your desired solution:**

When the user logs in, the user's id value can be added according to the response that the prov

[2022-01-29 14:30] robingenz commented on #126
Hi @ssibrahimbas,
thank you for your request.
This ID is IDP-specific user data and does not have to be present. According to [Firebase Docs](https://firebase.google.com/docs/reference/android/com/google/firebase/auth/AdditionalUserInfo) the type on Android of `getProfile()` is `abstract Map<String, Object>`.
For that reason I wouldn't focus on the ID but instead try to make the whole map availabl

[2022-02-01 11:46] derLalla opened #129 "bug: SignInOptions not working"
**Plugin version:**

0.4.1

**Platform(s):**

Android

**Current behavior:**

Using within an Android app.
When I login the first time using FirebaseAuthentication.signInWithGoogle(options), I get prompted to select the Google account to login with. After I logout and call the function again, I am not shown the prompt but am directly logged in as the previous selected Google account.

**Expected b

[2022-02-01 15:10] davidecampello opened #130 "bug:"
**Plugin version:**
0.3.8

**Platform(s):**
android

**Current behavior:**
Hi, I have this app where at the moment I need to use this plugin on version 0.3.8, because we have to use firebase 8 and the newest versions of capacitor-firebase-authentication require firebase 9 (If I'm wrong please correct me!).
I don't know exactly why but when I try to signup with google the app redirect me to a brows

[2022-02-02 09:52] derLalla commented on #129
Ah ok, thank you for that. I was curious, because I couldn't find the usage of the SignInOptions in your source code.
Oh my.. thank you! I signed out by using the firebase library instead of the plugin's 🙈 Now, by using the correct signout function it works!
Thanks :)

[2022-02-02 09:52] #129 closed

[2022-02-03 02:36] jayp0521 opened #131 "bug: iOS Sign in Not Persisting"
**Plugin version:**
 @robingenz/capacitor-firebase-authentication@latest

**Platform(s):**

**Current behavior:**

I am using Google and Apple Sign In. Both sign in options seem to work fine on web. However on iOS, the sign in works, but drops off if I do `window.location.reload()` or restart the app.

I am seeing this in the output, but have no idea what it means. Unable to debug where it is comi

[2022-02-03 07:57] robingenz commented on #131
Hi @jayp0521,
this issue seems like a duplicate of #109.
For this reason i'm closing this issue.
Please let me know if the problem persists. Then I will open the issue again.

[2022-02-03 07:57] #131 closed

[2022-02-06 22:38] hnnweb commented on #98
@braincomb You don't have Google Container plugin active? The login won't work with containers.

[2022-02-12 18:12] mostafa3ly opened #132 "bug: `addListener('authStateChange', ...)` callback is never get called"
**Plugin version:**

@robingenz/capacitor-firebase-authentication version ^0.4.1

**Platform(s):**

iOS
Android

**Current behavior:**

`addListener('authStateChange', ...)` is never get called on iOS or android with neither `skipNativeAuth` `true `or `false ` and working fine on web
so what it's purpose in the plugin

i initialize my app with this code and export auth used in whole app from the `

[2022-02-12 19:03] mostafa3ly commented on #78
@roldyclark
I can't view the solution can u share it again so i can use it please
Thank you

[2022-02-13 20:40] roldyclark commented on #78
@mostafa3ly whoops my domain expired, just fixed might be a sec for it to show up.

[2022-02-14 10:12] mostafa3ly commented on #78
@roldyclark
is `addListener('authStateChange', ...) ` called with you cause it never been called with me in `skipNative ` `true `or `false` on android and iOS and i can't understand it's purpose on plugin

[2022-02-14 11:06] robingenz commented on #132
Hi @mostafa3ly,
sorry for the late reply. I am very busy at the moment. I'll look at your issue this week.

[2022-02-16 15:30] DisruptLive opened #133 "bug: Firebase"
**Plugin version:**
v0.4.1

**Platform(s):**
ios

**Current behavior:**
Build attempt completes with a depreciation warning:
'FIRInstanceID' is deprecated: FIRInstanceID is deprecated, please use FIRInstallations for installation identifier handling and use FIRMessaging for FCM registration token handling.

**Related code:**

[code]

**Capacitor doctor:**
[code]

[2022-02-17 14:59] simonpeters opened #134 "bug: hard crash after calling signInWithPhoneNumber"
**Plugin version:**
0.4.1

**Platform(s):**
Android

**Current behavior:**
App crashes after calling signInWithPhoneNumber. It's a hard crash where the app shuts down. I pasted the logCat logs below.

**Steps to reproduce:**
[code]

**Other information:**
[code]

**Capacitor doctor:**
[code]

[2022-02-17 16:50] #134 closed

[2022-02-17 19:03] parambidja opened #135 "bug: Sign back in with Apple - Duplicate User"
**Plugin version:**
@robingenz/capacitor-firebase-authentication@latest

**Platform(s):**
iOS

**Current behavior:**
When I try to sign in with apple, the sign in process is prompted (Face ID, email setting, etc) and it works initially. Then I sign out and try to sign back in, and it fails to sign me in and does not let me continue.

I see an error log but I don't know why it's saying it's a dupli

[2022-02-17 20:23] robingenz commented on #135
Hi @parambidja,
thank you for your request.
How do you log out? Do you use the plugin method (https://github.com/robingenz/capacitor-firebase-authentication#signout)?

[2022-02-17 20:40] robingenz commented on #135
Please sign out only once using the plugin's method. Does the error still occur then?

[code]

[2022-02-17 21:15] DisruptLive commented on #133
I started seeing the warning (in the file titled: FIRInstanceID) after installing your plugin. Ill double check though. Can you tell me if installing your plugin causes other plugin dependancies to install automatically via the `npx cap sync` command or some other way?

[2022-02-17 21:23] robingenz commented on #133
These dependencies are automatically installed for iOS during sync: `Capacitor` and `Firebase/Auth`. Other dependencies must be added manually.

As I said, I tested it with my demo app, which of course has this dependency, and could not reproduce the problem.

Welcome! I hope I can help you further.

It installs the dependencies defined in this file: https://github.com/robingenz/capacitor-firebase

[2022-02-17 22:03] robingenz commented on #135
No problem!
Do you allow multiple accounts with the same email address (see [here](https://support.google.com/firebase/answer/9134820?hl=en&ref_topic=6386702))?

[2022-02-17 23:50] DisruptLive commented on #133
Thank you for the quick responses. minimal code reproduction below.

I started from scratch by generating an entirely new application with no other plugins installed except for yours.

In doing so i have discovered where the depreciation warning for `FirebaseInstanceID` originates from, and i have also discovered an entirely separate warning that displays after a build with the most recent version

[2022-02-18 03:35] parambidja commented on #135
Perhaps useful information: it works fine through Safari but not on the mobile iOS app.

[2022-02-18 17:54] robingenz commented on #135
Does the error also occur when you disable it?

[2022-02-18 18:04] robingenz commented on #133
Thank you for your detailed reply.
Unfortunately there is nothing we can do here.
I have no influence on the SDK. I can only install updates. I will do this again in a timely manner.
I would like to note that these are only warnings and not errors.
The warnings only mean that code is used in the SDK which is deprecated.
The Firebase team will be aware of this and provide updates in time.
So you sh

[2022-02-19 16:40] robingenz commented on #135
Okay, please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so I can debug it.

[2022-02-24 17:15] mostafa3ly commented on #132
I have Web , Android and iOS apps for my application using Ionic React and Capacitor.
the plugin is working fine on **web** version for each sign in method and the firebase JS sdk `onAuthStateChanged` function is working perfectly so it can listen to the auth state and on **web** also the plugin listener `addListener("authStateChange",...)` is working perfectly and can listen to the auth state.

b

[2022-02-25 18:41] robingenz commented on #132
As I said before, it works fine in my demo app (on all platforms). Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) in a GitHub repo so i can debug it.

[2022-02-26 15:03] aogorek commented on #132
@robingenz I had same issues, so I forked project and tried to figure it out.
The problem is that **'authStateChange' event IS fired** but it is called before the listener is registered, so the result in logs is that no listener is registered and it is ignored.
It looks like capacitor plugin is registered before angular app is initialized, then constructor of FirebaseAuthentication is called. It i

[2022-02-28 18:37] mostafa3ly commented on #132
i think my implementation was wrong i fixed it and it working as expected but i have another issue

when signing in with facebook the result is `{provider:..., idToken:...} `and there is no accessToken  which is used in `signInWithCredential`

[2022-02-28 18:53] robingenz commented on #132
@mostafa3ly Thanks for letting us know. Please create a new issue and fill in the bug template.

Since the actual problem `addListener('authStateChange', ...) is never get called` does not seem to be a bug, I will close this issue.

@aogorek Yes, it is not yet documented how to configure the demo app (see https://github.com/robingenz/capacitor-firebase-authentication-demo/issues/2). I will do that

[2022-02-28 18:53] #132 closed

[2022-03-01 10:17] mostafa3ly opened #136 "bug: Facebook login accessToken is undefined"
**Plugin version:**

@robingenz/capacitor-firebase-authentication ^0.4.1

**Platform(s):**

Android
iOS

**Current behavior:**

Facebook sign in is successfully done when calling `signInWithFacebook()` but the result is an object of `{prodvider: ... , idToken: ...}`
and there is no accessToken returned in the result which is needed to link native layer with JS sdk by calling `signInWithCredintials

[2022-03-03 09:13] robingenz commented on #136
Hi @mostafa3ly,
thank you for your request.
I was able to reproduce the issue. As soon as I have time I will publish a fix.

[2022-03-05 07:41] #53 closed

[2022-03-05 07:46] robingenz commented on #41
@mesqueeb #53 is now closed. So Apple Sign-In should now work on Android with the Firebase JS SDK.

[2022-03-06 12:14] brhoomjs opened #138 "bug: reCAPTCHA shows an error after release. This request is missing a valid app identifier"
**Plugin version:**
v0.4.2

**Platform(s):**
Android

**Current behavior:**
The error says:
[code]
**This error shows only after Play Store release for production**

However I don't know how to work with Android signing I think I have signing issue that cause this error.
I tried to add to my firebase project my debugging key, play store key, my custom signing key. the weird part that is the app to

[2022-03-06 12:26] robingenz commented on #138
Hi @brhoomjs,
thank you for your request. As you already noted yourself, the error should be a configuration error and not a bug in the plugin. I will try to help you anyway.
Please follow these instructions and let me know if it helped: https://stackoverflow.com/a/66685342/6731412

[2022-03-08 12:31] florisvink opened #139 "bug: not compatible with other firebase community plugins"
**Plugin version:**
0.4.2

**Platform(s):**
ios

**Current behavior:**
when adding other firebase plugins like [@capacitor-community/firebase-crashlytics](https://www.npmjs.com/package/@capacitor-community/firebase-crashlytics) or [@capacitor-community/firebase-analytics](https://www.npmjs.com/package/@capacitor-community/firebase-analytics) there seem to be versions conflicts in Podfile. When syn

[2022-03-08 14:28] robingenz commented on #139
Hi @florisvink,
thank you for your request.
I am aware of the problem. I am already working on a solution related to https://github.com/capacitor-community/proposals/issues/112.
I'll let you know as soon as I publish it.

[2022-03-08 15:10] robingenz commented on #139
@florisvink I have updated the pods and released new versions.
You can give it a try:

[code]

I also updated https://github.com/robingenz/capacitor-firebase-app and https://github.com/robingenz/capacitor-firebase-performance.

Let me know if this helps.

[2022-03-08 17:03] florisvink commented on #139
I will close the issue for it seems resoled

[2022-03-09 18:14] jwt02180 opened #141 "bug: iOS directions fail to install required Firebase pods for M1 Mac"
**Plugin version:**
0.4.3

**Platform(s):**
iOS

**Current behavior:**
I've followed the [example app](https://github.com/robingenz/capacitor-firebase-authentication-demo), and have google sign-in working on web.
Moving on to add the iOS platform, I followed the setup directions for iOS [here](https://github.com/robingenz/capacitor-firebase-authentication/blob/main/docs/setup-google.md#ios).
Runni

[2022-03-09 20:44] robingenz commented on #141
Hi @jwt02180,
thank you for this detailed request.

[code]

I just updated the pods yesterday. So the pod versions are relatively new (released 27 days ago) and it is most likely that your source repo was out-of-date.
Are you sure that `arch -x86_64 pod install --repo-update`  was necessary? I also use an M1 MacBook and `pod install --repo-update` was sufficient for me.

The error message in the [

[2022-03-09 20:44] #141 closed

[2022-03-10 22:31] brhoomjs commented on #138
Thanks for your replay I got it solved by enabling **SafetyNet** API from **gcloud**, I have been using firebase long time ago but this is the first time happens to me.

[2022-03-10 22:31] #138 closed

[2022-03-14 19:25] jwt02180 commented on #126
I'd like to add my own interest in being able to retrieve [AdditionalUserInfo](https://firebase.google.com/docs/reference/js/auth.additionaluserinfo.md#additionaluserinfo_interface).
My use case is to determine whether someone that has logged in is a new user or not (by checking [isNewUser](https://firebase.google.com/docs/reference/js/auth.additionaluserinfo.md#additionaluserinfoisnewuser)).

Jus

[2022-03-14 20:55] albermejo opened #144 "Problem with a new version of IOS - Illformed requirement $IOS_FIREBASE_POD_VERSION"
# Report

## What did you do?
Run capacitor sync ios" generate a new version of ios `pod install`

## What did you expect to happen?
Install all pod dependencies correctly.

## What happened instead?
Pod installation error

## CocoaPods Environment

ℹ Please replace these two lines with the output of `pod env`.

## Project that demonstrates the issue

` ### Command
[capacitor]
[capacitor] ```
[cap

[2022-03-14 21:05] robingenz commented on #144
Hi @albermejo,
Thank you for your request!
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)) so i can debug it.

[2022-03-17 13:05] preet-pal opened #145 "bug: Issue with Facebook SignIn accessToken"
**Plugin version:**
0.4.3

**Platform(s):**
Capacitor Apps

**Current behavior:**
The Facebook authentication doesn't work.

**Expected behavior:**
Facebook authentication should work as expected.

**Steps to reproduce:**
Try using `signInWithFacebook` function and it will result in no acessToken in the response.

So, instead the `await FirebaseAuthentication.signInWithFacebook()` returns idToken

[2022-03-17 14:34] robingenz commented on #145
Closed as duplicate of #136

[2022-03-17 14:34] #145 closed

[2022-03-20 22:50] jmondragon opened #146 "bug:"
**Plugin version:**
0.4.3

**Platform(s):**
Android, iOS

**Current behavior:**
After installing the plugin and performing npx cap sync, when trying to run the application in Android Studio it crashes with the following error in the logs:
`Default FirebaseApp is not initialized in this process com.example.myapp. Make sure to call FirebaseApp.initializeApp(Context) first.`

I have been following th

[2022-03-22 00:06] #135 closed

[2022-03-22 21:58] robingenz commented on #139
Long term solution: https://github.com/robingenz/capacitor-firebase 🎉

[2022-03-23 21:30] robingenz commented on #146
Hi @jmondragon,
thank you for your request.
I could not reproduce your problem with my demo app.
Please provide a Minimal, Reproducible Example (see [How to create a Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example)).
Make sure you follow the setup steps exactly.